body{
    margin: 0;
    padding: 0;
    font-family: optima, sans-serif;
    background-color: #2b2b2b;
    color: #d6d6d6;
}

h1, h2{
    text-align: center;
    padding: 30px;
}

#code{
    font-size: 95px;
}

